<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <script type="text/javascript">
  var system = {
    win: false, 
    mac: false, 
    x11: false, 
    ipad:false 
  };

  var p = navigator.platform;
  system.win = p.indexOf("Win") == 0;
  system.mac = p.indexOf("Mac") == 0;
  if(system.win==false&&system.mac==false){
    window.location.href = "indexPhone.html"; 
  }
  </script>

  <title>Todo List</title>
  <link rel="stylesheet" type="text/css" href="web.css"/>
</head>

<body>

  <div id="app">
    <h1>{{title}}</h1>
    <input v-model="newItem" @keyup.enter="addNew"/>
    <label class="addLabel" @click="addNew">+</label>
    <button class="clearBtn" @click="clearAll">一键清空</button>
    <ul>
      <li v-for="item in items" :class="{finished:item.isFinished}" @click="toggleFinish(item)">
        {{item.label}}
        <label class="deleteLabel" @click="deleteOne($index)">×</label>
      </li>
    </ul>
  </div>

  <script type="text/javascript" src="vue.min.js"></script>
  <script type="text/javascript" src="main.js"></script>

</body>
</html>
